<a href="https://colab.research.google.com/github/bryanwills/python_codelou/blob/main/real_estate_property_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1 - Imports

In [27]:
!pip install requests
!pip install pandas
!pip install openpyxl
!pip install sqlalchemy
!pip install psycopg2-binary
import requests
import pandas as pd
import sqlalchemy
import openpyxl
import psycopg2
import datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.7/dist-packages (2.9.3)

In [ ]:
# Install postgreSQL database in Google Colab
# Install postgresql server in Google Colab
#!sudo apt-get -y -qq update
#!sudo apt-get -y -qq install postgresql
#!sudo service postgresql start

# Setup a password `12345` for username `postgres`
#!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD '12345';"

# Setup a database with name `real_estate` to be used
#!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS real_estate;'
#!sudo -u postgres psql -U postgres -c 'CREATE DATABASE real_estate;'

Go to realtor.ca site, enter in a search. My example: "Ottawa, ON".
After making this search, open up DevTools, click on Network and go through the files and locate the query in the form of a curl command. Convert the curl command to a Python request and paste the output below in Step 2. I just Googled curl to python converter.

This site was chosen due to the fact that I can pull out their API from dev tools without having to sign up for an API.

Step 2 - Requests & URL

In [2]:
headers = {
    'authority': 'api2.realtor.ca',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9,cs;q=0.8',
    'content-type': 'application/x-www-form-urlencoded; charset=UTF-8',
    'cookie': 'visid_incap_2269415=DRpcY4I3SjKFMfalMxSftyaK6WIAAAAAQUIPAAAAAACvrLYGe+e3wDZmQZfgEaBA; nlbi_2269415=B6YSQ7YtUCMAjnPWn2FYxQAAAACYHLiQKXa5Yo8sEYT9lH/D; incap_ses_1291_2269415=SdugIV1PHwRJVXABPo7qESaK6WIAAAAA8vWAvOTCm3r54LL1BaCVtA==; incap_ses_116_2269415=FM63c0UCPQHIXBz0Kh6cASeK6WIAAAAA9WPFdt5xRRbegjs061rpqw==; reese84=3:W3xEMitJn4FeyQaF2XIXWQ==:p7Gd6DFbHB7lgs8ZiewNBgGqjQLo3wb7ZgLM5HEqdiD5sN4Mr44u810tBQhqV2vjU2U1jZhk1XUUaxH3SE6rRKOZt2IsJBaY91rEmL/BfA9TmyLmjn+zJzFmdGtmAiChQgjCUv8dENZu7G/vy9dAv2VS2qzg0HdfHvG9N6GpzCGi9tItYSFdAC8W6Hf1v7ru/vUdI9Gswb/t3vvtWsVgd0VwG0/MuhT3PJHUsJuK826Fry8SmmvyvBkYGWDIE/+2lgErv/802OoFzhg3SoNuJAU5wWhb00pBiZGi02wn5GRKByp4s/E2VoVX6arUlcELR5JUvMfIAehQsgzhbw4HOSKf5nJaZYKSYpYhSV/lyUoqp54LPEcLOcJiPaisJj2GJPoKHsQqa2LX7yNuFJCgwYL/h/luyeyPr/f5IKQnqGA=:/enhsFfOjcbixgt8+8usYgkzfKJI11l1g99of43Onuc=; gig_bootstrap_3_mrQiIl6ov44s2X3j6NGWVZ9SDDtplqV7WgdcyEpGYnYxl7ygDWPQHqQqtpSiUfko=gigya-pr_ver4; ASP.NET_SessionId=4je5mml0zgqlvsnfaxs3egfb; visid_incap_2271082=B8sI/rNOS1O+7SuN27HKhkmK6WIAAAAAQUIPAAAAAADhnJ+CcKEEfvlCTsuuOLuJ; nlbi_2271082=shHQdkaMZgmv7s1ENo2IPAAAAAD0GfZzBej4n1ca1rAudqyl; incap_ses_116_2271082=fbUKUHhRXEGMgxz0Kh6cAUmK6WIAAAAAlXQi/sn9Rh1WHoAG/5A3fg==; nlbi_2269415_2147483392=u6DgadTQhS/ycA2tn2FYxQAAAABhO27gJcvY6w7tSWqOqotq',
    'dnt': '1',
    'origin': 'https://www.realtor.ca',
    'referer': 'https://www.realtor.ca/',
    'sec-ch-ua': '^\\^.Not/A)Brand^\\^;v=^\\^99^\\^, ^\\^Google',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '^\\^Windows^\\^',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36',
}

data = {
  'ZoomLevel': '10',
  'LatitudeMax': '45.61508',
  'LongitudeMax': '-75.15382',
  'LatitudeMin': '44.88320',
  'LongitudeMin': '-76.44608',
  'Sort': '6-D',
  'PropertyTypeGroupID': '1',
  'PropertySearchTypeId': '1',
  'TransactionTypeId': '2',
  'Currency': 'FXUSDCAD',
  'RecordsPerPage': '12',
  'ApplicationId': '1',
  'CultureId': '1',
  'Version': '7.0',
  'CurrentPage': '1'
}

response = requests.post('https://api2.realtor.ca/Listing.svc/PropertySearch_Post', headers=headers, data=data)

Step 3 - Check Status Code

In [3]:
response

Running this cell gets back a Response [200] indicating that the response from the request ran without problem.

Step 4 - Create JSON Object

In [4]:
result_json = response.json()

After running the above code cell, the data that comes back is the information we are looking for in json format.

Step 5 - Output Keys

In [5]:
result_json.keys()

dict_keys(['ErrorCode', 'Paging', 'Results', 'Pins', 'GroupingLevel'])

Storing keys from webpage (dev tools). This will allow me to extract specific data later on. Specifically, looking at the 'results' key which contains all the information I want and need.

Step 6 - Find Data


1.   Address
2.   Bedrooms
3.   Bathrooms
4.   Agent Name
5.   Area Code
6.   Phone Number
7.   Price

In [6]:
# Starting point
result_items = result_json['Results']

In [7]:
len(result_items)

12

Running the above code allows me to see the information from the results dictionary key. If I were to put len(result_json['Results']), I would get back '12' which is the same amount of search results from the website or after storing the results into a variable, I can check the length by the above code. For now, I am going to store that data in result_items variable.

In [8]:
# address of first result using the index of '0'
result_items[0]['Property']['Address']['AddressText']
# targeting the 'Property' key to get the address since it is within the property key.
# Going further to get the specific data I am looking for, I keep going down the 'keys' until I have just the street address I need.

'Address not available'

In [9]:
# Get bedroom information 
result_items[0]['Building']['Bedrooms']

KeyError: ignored

In [10]:
# Get bathrooms information
result_items[0]['Building']['BathroomTotal']

'0'

In [11]:
# Get the Agent Name. Since the Agent is part of a list, need to use an index to extract the information.
result_items[0]['Individual'][0]['Name']

'Randa Malaty'

In [12]:
# Get the area code, using index 0 since there is a fax number as well
result_items[0]['Individual'][0]['Phones'][0]['AreaCode']

'613'

In [13]:
# Get the phone number
result_items[0]['Individual'][0]['Phones'][0]['PhoneNumber']

'296-3333'

In [14]:
# extract price of property
result_items[0]['Property']['Price']

'$1,195,000'

Step 7 - Put it all together and loop through results appending data inside a list

In [15]:
# Create empty lists, these are the data points I want to extract from the webpage
address = []
bedrooms = []
bathrooms = []
agent_name = []
area_code = []
phone_number = []
price = []

# iterate over each item on the page
for result in result_items:

    # address
    try:
        address.append(result['Property']['Address']['AddressText'])
    except:
        address.append('')

    # bedrooms
    try:
        bedrooms.append(result['Building']['Bedrooms'])
    except:
        bedrooms.append('')

    # bathrooms
    try:
        bathrooms.append(result['Building']['BathroomTotal'])
    except:
        bathrooms.append('')

    # Agent Name
    try:
        agent_name.append(result['Individual'][0]['Name'])
    except:
        agent_name.append('')

    # area code
    try:
        area_code.append(result['Individual'][0]['Phones'][0]['AreaCode'])
    except:
        area_code.append('')

    # phone number
    try:
        phone_number.append(result['Individual'][0]['Phones'][0]['PhoneNumber'])
    except:
        phone_number.append('')

    # price
    try:
        price.append(result['Property']['Price'])
    except:
        price.append('')

In [16]:
# This will print out all 12 addresses from the search results
address

['Address not available',
 'Address not available',
 '297 CRESTHAVEN DRIVE UNIT#3|Ottawa, Ontario K2G4R5',
 '701 SUE HOLLOWAY DRIVE UNIT#A|Ottawa, Ontario K2J5R6',
 '200 RIDEAU STREET UNIT#512|Ottawa, Ontario K1N5Y1',
 '114 MARGARET STREET|Ottawa, Ontario K0G1N0',
 '116 Rue Walker|Gatineau (Buckingham), Quebec J8L3X7',
 '79 Ch. Whissell|Cantley, Quebec J8V3A8',
 '63 OBLATS AVENUE|Ottawa, Ontario K1S0E5',
 '185 HIDDEN LAKE CRESCENT|Ottawa, Ontario K0A1L0',
 '1719 AUTUMN RIDGE DRIVE|Ottawa, Ontario K1C6Z1',
 '87 MITCHESON STREET|Almonte, Ontario K0A1A0']

Step 8 - Pandas Dataframe

In [17]:
# Take all the data from the for loop above and put it into a Pandas Dataframe, each list should return a column
df_realtor = pd.DataFrame({'Address': address, 'Bedrooms': bedrooms, 'Bathrooms': bathrooms, 'Agent Name': agent_name, 'Area Code': area_code, 'Telephone': phone_number, 'Price': price})

In [18]:
# Display the data frame, will show all 12 addresses and related information for each listing on the page.
df_realtor

,Address,Bedrooms,Bathrooms,Agent Name,Area Code,Telephone,Price
0,Address not available,,0,Randa Malaty,613,296-3333,"$1,195,000"
1,Address not available,,0,Randa Malaty,613,296-3333,"$1,195,000"
2,"297 CRESTHAVEN DRIVE UNIT#3|Ottawa, Ontario K2...",2 + 0,2,Shirley Jiuhong Kang,613,302-1668,"$438,800"
3,"701 SUE HOLLOWAY DRIVE UNIT#A|Ottawa, Ontario ...",0 + 2,2,Jason MacDonald,613,297-5712,"$449,900"
4,"200 RIDEAU STREET UNIT#512|Ottawa, Ontario K1N5Y1",2 + 0,2,Nancy McCluskey,613,220-7486,"$535,000"
5,"114 MARGARET STREET|Ottawa, Ontario K0G1N0",3 + 0,2,Janda Shamess,866,336-9637,"$989,900"
6,"116 Rue Walker|Gatineau (Buckingham), Quebec J...",2,1,Paul Lamarche,819,664-2115,"$290,000"
7,"79 Ch. Whissell|Cantley, Quebec J8V3A8",2,1,Eric Boissonneault,819,431-4942,"$435,000"
8,"63 OBLATS AVENUE|Ottawa, Ontario K1S0E5",3 + 0,3,Matt Richling,613,286-9501,"$989,000"
9,"185 HIDDEN LAKE CRESCENT|Ottawa, Ontario K0A1L0",4 + 0,4,Sarah Hunter,613,889-0171,"$1,198,000"
10,"1719 AUTUMN RIDGE DRIVE|Ottawa, Ontario K1C6Z1",4 + 0,4,Zak Green,613,842-5000,"$1,388,000"
11,"87 MITCHESON STREET|Almonte, Ontario K0A1A0",3 + 0,2,Colleen Lyle,613,417-3599,"$799,900"

Step 9 - Multiple Pages

In [19]:
# Create empty lists, these are the data points I want to extract from the webpage
address = []
bedrooms = []
bathrooms = []
agent_name = []
area_code = []
phone_number = []
price = []

# iterate over the pages 1 to 51 using the CurrentPage key value as the variable in the for loop to get data from all the pages available. 
for i in range(1,51):

    headers = {
        'authority': 'api2.realtor.ca',
        'accept': '*/*',
        'accept-language': 'en-US,en;q=0.9,cs;q=0.8',
        'content-type': 'application/x-www-form-urlencoded; charset=UTF-8',
        'cookie': 'visid_incap_2269415=DRpcY4I3SjKFMfalMxSftyaK6WIAAAAAQUIPAAAAAACvrLYGe+e3wDZmQZfgEaBA; nlbi_2269415=B6YSQ7YtUCMAjnPWn2FYxQAAAACYHLiQKXa5Yo8sEYT9lH/D; incap_ses_1291_2269415=SdugIV1PHwRJVXABPo7qESaK6WIAAAAA8vWAvOTCm3r54LL1BaCVtA==; incap_ses_116_2269415=FM63c0UCPQHIXBz0Kh6cASeK6WIAAAAA9WPFdt5xRRbegjs061rpqw==; reese84=3:W3xEMitJn4FeyQaF2XIXWQ==:p7Gd6DFbHB7lgs8ZiewNBgGqjQLo3wb7ZgLM5HEqdiD5sN4Mr44u810tBQhqV2vjU2U1jZhk1XUUaxH3SE6rRKOZt2IsJBaY91rEmL/BfA9TmyLmjn+zJzFmdGtmAiChQgjCUv8dENZu7G/vy9dAv2VS2qzg0HdfHvG9N6GpzCGi9tItYSFdAC8W6Hf1v7ru/vUdI9Gswb/t3vvtWsVgd0VwG0/MuhT3PJHUsJuK826Fry8SmmvyvBkYGWDIE/+2lgErv/802OoFzhg3SoNuJAU5wWhb00pBiZGi02wn5GRKByp4s/E2VoVX6arUlcELR5JUvMfIAehQsgzhbw4HOSKf5nJaZYKSYpYhSV/lyUoqp54LPEcLOcJiPaisJj2GJPoKHsQqa2LX7yNuFJCgwYL/h/luyeyPr/f5IKQnqGA=:/enhsFfOjcbixgt8+8usYgkzfKJI11l1g99of43Onuc=; gig_bootstrap_3_mrQiIl6ov44s2X3j6NGWVZ9SDDtplqV7WgdcyEpGYnYxl7ygDWPQHqQqtpSiUfko=gigya-pr_ver4; ASP.NET_SessionId=4je5mml0zgqlvsnfaxs3egfb; visid_incap_2271082=B8sI/rNOS1O+7SuN27HKhkmK6WIAAAAAQUIPAAAAAADhnJ+CcKEEfvlCTsuuOLuJ; nlbi_2271082=shHQdkaMZgmv7s1ENo2IPAAAAAD0GfZzBej4n1ca1rAudqyl; incap_ses_116_2271082=fbUKUHhRXEGMgxz0Kh6cAUmK6WIAAAAAlXQi/sn9Rh1WHoAG/5A3fg==; nlbi_2269415_2147483392=u6DgadTQhS/ycA2tn2FYxQAAAABhO27gJcvY6w7tSWqOqotq',
        'dnt': '1',
        'origin': 'https://www.realtor.ca',
        'referer': 'https://www.realtor.ca/',
        'sec-ch-ua': '^\\^.Not/A)Brand^\\^;v=^\\^99^\\^, ^\\^Google',
        'sec-ch-ua-mobile': '?0',
        'sec-ch-ua-platform': '^\\^Windows^\\^',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'same-site',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36',
    }

    data = {
    'ZoomLevel': '10',
    'LatitudeMax': '45.61508',
    'LongitudeMax': '-75.15382',
    'LatitudeMin': '44.88320',
    'LongitudeMin': '-76.44608',
    'Sort': '6-D',
    'PropertyTypeGroupID': '1',
    'PropertySearchTypeId': '1',
    'TransactionTypeId': '2',
    'Currency': 'FXUSDCAD',
    'RecordsPerPage': '12',
    'ApplicationId': '1',
    'CultureId': '1',
    'Version': '7.0',
    'CurrentPage': str(i),
    }

    # response
    response = requests.post('https://api2.realtor.ca/Listing.svc/PropertySearch_Post', headers=headers, data=data)

    # create json object
    result_json = response.json()

    # result items
    result_items = result_json['Results']

    for result in result_items:

        # address
        try:
            address.append(result['Property']['Address']['AddressText'])
        except:
            address.append('')

        # bedrooms
        try:
            bedrooms.append(result['Building']['Bedrooms'])
        except:
            bedrooms.append('')

        # bathrooms
        try:
            bathrooms.append(result['Building']['BathroomTotal'])
        except:
            bathrooms.append('')

        # Agent Name
        try:
            agent_name.append(result['Individual'][0]['Name'])
        except:
            agent_name.append('')

        # area code
        try:
            area_code.append(result['Individual'][0]['Phones'][0]['AreaCode'])
        except:
            area_code.append('')

        # phone number
        try:
            phone_number.append(result['Individual'][0]['Phones'][0]['PhoneNumber'])
        except:
            phone_number.append('')

        # price
        try:
            price.append(result['Property']['Price'])
        except:
            price.append('')

In [20]:
# Take all the data from the for loop above and put it into a Pandas Dataframe, each list should return a column. Re-use the data frame we already created, taking to account the iteration of all the page results.
df_realtor = pd.DataFrame({'Address': address, 'Bedrooms': bedrooms, 'Bathrooms': bathrooms, 'Agent Name': agent_name, 'Area Code': area_code, 'Telephone': phone_number, 'Price': price})

In [21]:
# output the data frame to show all results. Running this cell generates 600 rows of real estate listings
df_realtor

,Address,Bedrooms,Bathrooms,Agent Name,Area Code,Telephone,Price
0,Address not available,,0,Randa Malaty,613,296-3333,"$1,195,000"
1,Address not available,,0,Randa Malaty,613,296-3333,"$1,195,000"
2,"297 CRESTHAVEN DRIVE UNIT#3|Ottawa, Ontario K2...",2 + 0,2,Shirley Jiuhong Kang,613,302-1668,"$438,800"
3,"701 SUE HOLLOWAY DRIVE UNIT#A|Ottawa, Ontario ...",0 + 2,2,Jason MacDonald,613,297-5712,"$449,900"
4,"200 RIDEAU STREET UNIT#512|Ottawa, Ontario K1N5Y1",2 + 0,2,Nancy McCluskey,613,220-7486,"$535,000"
...,...,...,...,...,...,...,...
595,"41 KIMBERWICK CRESCENT|Ottawa, Ontario K1V1K6",3 + 0,3,Paul Franchuk,613,852-0395,"$675,000"
596,"4 Rue de Lyon|Gatineau (Gatineau), Quebec J8T1L4",3,1,André Cright,819,360-1018,"$375,000"
597,"45 Rue Marengère|#14|Gatineau (Gatineau), Queb...",3,1,Nathalie Simpson,613,323-5050,"$150,000"
598,"29 13e Avenue O.|Gatineau (Gatineau), Quebec J...",2,1,Annick Fleury,819,592-5152,"$219,900"
599,"130 Rue de Munich|Gatineau (Aylmer), Quebec J9...",4,2,Stéphane Bisson,819,743-2922,"$777,000"

Step 10 - Store results in Excel

In [31]:
date = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
df_realtor.to_excel('realtor_multiple_pages.xlsx', index=False, header=True)
df_realtor.to_excel(f"realtor_pages_{date}.xlsx")

The code above stores the data frame into an Excel spreadsheet with the columns and rows specified in the code above. I downloaded the file and opened it up to verify the results.

Step 11 - PostgreSQL

In [ ]:
# create an sqlalchmey engine using the postgres username and password, port 5432 (db port)
#engine = sqlalchemy.create_engine('postgresql://postgres:12345@localhost:5432')
# send dataframe to sql using the name real_estate as the table name and passing in the engine parameter
#df_realtor.to_sql('real_estate', engine)